<div id="allbanner">
<div id="bannerforsearch">
<form action="/search" method="post">
<input type="text" name="search" placeholder="search">
<input class="button" type="submit" value="V">
</form>
</div>
<div id="linkedbox">
<div id="playlist">
<p>Playlist</p>
<li>
<a href="">Create</a>
</li>
<li>
<a href="">Edit</a>
</li>
<li>
<a href="">Share Playlist</a>
</div>
<div id="chatroom">
<p>Chat room</p>
<li>
<a href="">Go to</a>
</li>
<li>
<a href="">Make</a>
</li>
<li>
<a href="">History</a>
</li>
</div>
<div id="account">
<p>Account</p>
<li>
<a href="">Set up Profile</a>
</li>
<li>
<a href="">Subscription</a>
</li>
<li>
<a href="">Account setting</a>
</li>
</div>
</div>
</div>
