<!DOCTYPE html>
<html>
<head>
	<%- include("partials/head") %>

</head>
<body>
	<%- include("partials/header") %>
	<div class="container">
		<h1> Hi, NICKNAME</h1>
	<!-- <h1>Hi,<....%= nickname %...></h1> -->
	<!-- set profile image from DB -->
	<p>Connect to your Spotify or Apple music</p><a href="/sync"><span class="button">></span></a>
	<p>Be a guest(can be limited some function</p><a href><span class="button">></span></a>
	</div>
</body>
</html>
