<!DOCTYPE html>
<html>
<head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
        <title>Plimate</title>
        <link rel="icon" href="./img/favicon.ico">
        <link rel-"stylesheet" href="">
        <script defer src=""></script>
</head>
<body>
	<div id="nav">
<div class="col-sm nav-align">
<h1 id="title">Plimate</h1>
<img src="" alt="logo">
</div>
<%- body %>
</body>
</html>


