<!DOCTYPE html>
<html lang="ko">
<head>
	<%-include("partials/head") %>
</head>
<body>
<div class ="container">
	<%- include("partials/header") %>
	<form action ="/login" method="post">
                <h1>ID<input type="text" name="id" value=""></h1>
                <h1>Password<input type="password" name="password" value=""></h1>
		<input class="button" type="submit" value="done">
	</form>

</div>

	
	
