<!DOCTYPE html>
<head>
<%- include("partials/head") %>
</head>
<body>
<%- include("partials/header") %>
<div class="spotify">
<h1>SPOTIFY USER</h1>
<image src="./images/spotifyLogo.png">
<a href="">connect</a>
</div>
<div class="apple music">
	<h1>APPLE MUSIC USER</h1>
	<image src="./images/appleMusicLogo.png">
	<a href="">connect</a>
</div>

